@model  Models.ViewModel.ThongtinnguoidungModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsFooter{

    <script src="~/Assets/Admin/js/admin/controller/ThongtinnguoidungController.js"></script>


}

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Quản lý</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>

            <ol class="breadcrumb">
                <li><a href="#">Quản lý</a></li>
                <li class="active">Thông tin người dùng</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box" id="tabs">
                <ul class="nav customtab nav-tabs" role="tablist" >
                    <li role="presentation" id="tabtaikhoan" class="active"><a id="a_taikhoan" href="#taikhoan1" aria-controls="taikhoan" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> Tài khoản</span></a></li>
                    <li role="presentation" id="tabchucvu" class=""><a id="a_chucvu" href="#chucvu1" aria-controls="chucvu" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Chức vụ</span></a></li>
                    <li role="presentation" class=""><a href="#messages1" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs">Phân quyền</span></a></li>
                </ul>
                <!-- Tab panes -->
                <!-- bảng tài khoản -->

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="taikhoan1">

                        <div style="margin-bottom: 15px">
                            <button class="btn btn-success" data-toggle="modal" data-target="#themtaikhoan"> Thêm tài khoản </button>
                        </div>

                        <!-- Modal -->

                        <div id="themtaikhoan" class="modal fade" role="dialog">
                            <div class="modal-dialog  modal-lg">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Thêm tài khoản</h4>
                                    </div>
                                    @using (Html.BeginForm("Themtaikhoan", "Thongtinnguoidung", FormMethod.Post, new { @class = "form-horizontal", @data_toggle = "validator" }))
                                    {
                                        <div class="modal-body">

                                            <div class="white-box col-lg-6">
                                                <h3 class="box-title m-b-0">Thông tin tài khoản</h3>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Tên tài khoản </label>
                                                    <div class="col-md-12">
                                                        @if (ViewBag.check == "true")
                                                        {
                                                            @Html.ValidationSummary(false, "", new { @class = "text-danger text-center" });

                                                        }



                                                        @Html.TextBoxFor(model => model.taikhoan.Tentaikhoan, "", new { @type = "text", @class = "form-control", @placeholder = "Tên tài khoản", required = "required", @data_error = "Bạn chưa nhập tên tài khoản" })

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-12">Chức vụ</label>
                                                    <div class="col-sm-12">

                                                        @Html.DropDownListFor(Model => Model.taikhoan.Machucvu, new SelectList(ViewBag.Ichucvu, "Machucvu", "Tenchucvu"), new { @class = "form-control", required = "required" })

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">Mật khẩu</label>
                                                    <div class="col-md-12">
                                                        @Html.TextBoxFor(model => model.taikhoan.Matkhau, "", new { @class = "form-control", @type = "password", @placeholder = "******", required = "required" })

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">Mail</label>
                                                    <div class="col-md-12">
                                                        @Html.TextBoxFor(model => model.taikhoan.Mail, "", new { @type = "email", @class = "form-control", @placeholder = "mail", required = "required" })

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-12">Flag</label>
                                                    <div class="col-sm-12">
                                                        @Html.DropDownListFor(Model => Model.taikhoan.Flag, new SelectList(ViewBag.Itrangthai, "id", "flag"), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                          
                                            <div class="white-box col-lg-6">
                                                <h3 class="box-title m-b-0">Thông tin người dùng</h3>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Họ tên </label>
                                                    <div class="col-md-12">
                                                        @Html.TextBoxFor(model => model.thongtinnguoidung.Hoten, "", new { @type="text",@class="form-control", @placeholder="họ tên", @required="required" })
                                                        @*<input type="text" class="form-control" placeholder="Họ tên" required />*@
                                                    </div>                                                 
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Ngày sinh </label>
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.thongtinnguoidung.Namsinh, "", new { @type="text",@class="form-control",@id="datepicker-autoclose", @placeholder="mm/dd/yyyy",@required="required"})
                                                            @*<input type="text" class="form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy" required />*@
                                                            <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Số điện thoại</label>
                                                    <div class="col-md-12"> 
                                                        @Html.TextBoxFor(model => model.thongtinnguoidung.Sodienthoai, "", new { @type="text", @placeholder="",@data_mask = "+84 99 999 9999",@class="form-control",@required="required"})
                                                        @*<input type="text" placeholder="" data-mask="+84 99 999 9999" class="form-control" required>*@
                                                    </div>
                                                   
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Quê quán </label>
                                                    <div class="col-md-12">
                                                        @Html.TextBoxFor(model => model.thongtinnguoidung.Quequan, "", new { @type="text",@placeholder="quê quán",@class="form-control",@required="required"})
                                                        @*<input type="text" placeholder="quê quán" class="form-control" required>*@
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                            @*<div class="white-box col-lg-12">
                                                <h3 class="box-title m-b-0">Phân quyền</h3>
                                                <div class="col-lg-12 panel">

                                                    <div class="switchery-demo m-b-30 col-lg-4">
                                                        <input type="checkbox" checked="" class="js-switch" data-color="#13dafe" data-size="small" style="display: none;" data-switchery="true">
                                                        <p style="display:inline"> Xem </p>
                                                    </div>
                                                    <div class="switchery-demo m-b-30 col-lg-4">
                                                        <input type="checkbox" checked="" class="js-switch" data-color="#13dafe" data-size="small" style="display: none;" data-switchery="true">
                                                        <p style="display:inline"> Sửa </p>
                                                    </div>
                                                    <div class="switchery-demo m-b-30 col-lg-4">
                                                        <input type="checkbox" checked="" class="js-switch" data-color="#13dafe" data-size="small" style="display: none;" data-switchery="true">
                                                        <p style="display:inline"> Xóa </p>
                                                    </div>
                                                    <div class="switchery-demo m-b-30 col-lg-4">
                                                        <input type="checkbox" checked="" class="js-switch" data-color="#13dafe" data-size="small" style="display: none;" data-switchery="true">
                                                        <p style="display:inline"> Thống kê </p>
                                                    </div>
                                                </div>
                                            </div>*@
                                        </div>
                                        

                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>

                                        </div>
                                    }


                                </div>

                            </div>
                        </div>

                        <div id="suataikhoan" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Sửa tài khoản</h4>
                                    </div>
                                    @using (Html.BeginForm("Suataikhoan", "Thongtinnguoidung", FormMethod.Post, new { @class = "form-horizontal", @data_toggle = "validator" }))
                                    {
                                    <div class="modal-body">

                                        <div class="white-box col-lg-6">
                                            <h3 class="box-title m-b-0">Thông tin tài khoản</h3>
                                            <div class="form-group">
                                                <label class="col-md-12"> Tên tài khoản </label>
                                                <div class="col-md-12">
                                                    @if (ViewBag.check == "true")
                                                    {
                                                        @Html.ValidationSummary(false, "", new { @class = "text-danger text-center" });

                                                    }



                                                    @Html.TextBoxFor(model => model.taikhoan.Tentaikhoan, "", new { @type = "text", @class = "form-control tentaikhoanedit", @placeholder = "Tên tài khoản", required = "required",@readonly="readonly" })

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">Chức vụ</label>
                                                <div class="col-sm-12">

                                                    @Html.DropDownListFor(Model => Model.taikhoan.Machucvu, new SelectList(ViewBag.Ichucvu, "Machucvu", "Tenchucvu"), new { @class = "form-control machuvutaikhoanedit", required = "required" })

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Mật khẩu</label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.taikhoan.Matkhau, "", new { @class = "form-control matkhautaikhoanedit", @type = "text", @placeholder = "******", required = "required" })

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Mail</label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.taikhoan.Mail, "", new { @type = "email", @class = "form-control mailtaikhoanedit", @placeholder = "mail", required = "required" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="white-box col-lg-6">
                                            <h3 class="box-title m-b-0">Thông tin người dùng</h3>
                                            <div class="form-group">
                                                <label class="col-md-12"> Họ tên </label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.thongtinnguoidung.Hoten, "", new { @type = "text", @class = "form-control hotenuseredit", @placeholder = "họ tên", @required = "required" })
                                                    @*<input type="text" class="form-control" placeholder="Họ tên" required />*@
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12"> Ngày sinh </label>
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.thongtinnguoidung.Namsinh, "", new { @type = "text", @class = "form-control ngaysinhuseredit", @id = "datepicker-autoclose2", @placeholder = "mm/dd/yyyy", @required = "required" })
                                                        @*<inpuf type="text" class="form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy" required />*@
                                                        <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12"> Số điện thoại</label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.thongtinnguoidung.Sodienthoai, "", new { @type = "text", @placeholder = "", @data_mask = "+84 99 999 9999", @class = "form-control sdtuseredit", @required = "required" })
                                                    @*<input type="text" placeholder="" data-mask="+84 99 999 9999" class="form-control" required>*@
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12"> Quê quán </label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.thongtinnguoidung.Quequan, "", new { @type = "text", @placeholder = "quê quán", @class = "form-control quequanuseredit", @required = "required" })
                                                    @*<input type="text" placeholder="quê quán" class="form-control" required>*@
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>

                                        </div>
                                    }


                                </div>

                            </div>
                        </div>

                        <!-- end Modal -->

                        <div class="panel">
                            Ẩn cột: @*<a class="toggle-vis" data-column="0">Tên tài khoản</a> /*@ <a class="toggle-vis" id="ttaikhoan" data-column="1">Chức vụ</a> / <a class="toggle-vis" id="ttaikhoan" data-column="2">Mật khẩu</a> / <a class="toggle-vis" id="ttaikhoan" data-column="3">Trạng thái</a> / <a class="toggle-vis" id="ttaikhoan" data-column="4">Thời gian đăng ký</a> / <a class="toggle-vis" id="ttaikhoan" data-column="5">Mail</a> / <a class="toggle-vis" id="ttaikhoan" data-column="6">Flag</a> / <a class="toggle-vis" id="ttaikhoan" data-column="7">Chức năng</a>
                        </div>
                        <div class="table-responsive">
                            <table id="myTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tên tài khoản</th>
                                        <th>Chức vụ</th>
                                        <th>Mật khẩu</th>
                                        <th>Trạng thái</th>
                                        <th>Thời gian đăng ký</th>
                                        <th>Mail</th>
                                        <th>Flag</th>
                                        <th>  </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listtaikhoan)
                                    {
                                        <tr>
                                            <td class="tentaikhoan">@item.Tentaikhoan</td>
                                            <td class="machucvutaikhoan">@item.Machucvu</td>
                                            <td class="matkhautaikhoan">@item.Matkhau</td>
                                            <td>
                                               

                                                    @if (item.Trangthaihd == "Offline")
                                                    {
                                                        <span class="badge badge-danger"> Offline </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger"> Online </span>
                                                    }

                                             
                                            </td>

                                            <td>@item.TGdangki</td>

                                            <td class="mailtaikhoan">@item.Mail</td>
                                            <td class="flagtaikhoan"> 
                                                <a class="btn-active" data-tentaikhoan="@item.Tentaikhoan" hres="#">
                                                    @if (item.Flag == false)
                                                    {
                                                        <p class="text-danger"> Khóa </p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-info"> Không khóa</p>
                                                    }

                                                </a> 
                                            </td>
                                            <td>
                                                <button class="btnsuataikhoan" type="button" data-toggle="modal" data-target="#suataikhoan" style="background-color:transparent;border:none">
                                                    <i class="fa fa-pencil-square-o" style="color:red"> </i>
                                                </button>
                                                <button type="submit" style="background-color:transparent;border:none">
                                                    <i class="fa fa-info" style="color:blue"> </i>
                                                </button>

                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                   
                    <div role="tabpanel" class="tab-pane fade" id="chucvu1">
                        <div style="margin-bottom: 15px">
                            <button class="btn btn-success" data-toggle="modal" data-target="#themchucvu"> Thêm chức vụ </button>
                        </div>
                        <div class="panel">
                            Ẩn cột: @*<a class="toggle-vis" data-column="0">Tên tài khoản</a> /*@ <a class="toggle-vis" id="tchucvu" data-column="1">Name</a> / <a class="toggle-vis" id="tchucvu" data-column="2">Mật khẩu</a> / <a class="toggle-vis" id="tchucvu" data-column="3">Trạng thái</a>
                        </div>

                        <!-- modal -->
                        <div id="themchucvu" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Thêm chức vụ</h4>
                                    </div>
                                    @using (Html.BeginForm("Themchucvu", "Thongtinnguoidung", FormMethod.Post, new { @class = "form-horizontal", @data_toggle = "validator" }))
                                    {
                                        <div class="modal-body">

                                            <div class=" white-box m-b-0 p-t-0 p-b-0 ">
                                                <h3 class="box-title m-b-0">Thông tin chức vụ</h3>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Mã chức vụ </label>
                                                    <div class="col-md-12">
                                                        @if (ViewBag.check == "true")
                                                        {
                                                            @Html.ValidationSummary(false, "", new { @class = "text-danger text-center" });

                                                        }



                                                        @Html.TextBoxFor(model => model.chucvu.Machucvu, "", new { @type = "text", @class = "form-control", @placeholder = "Mã chức vụ", required = "required" })

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">Tên chức vụ</label>
                                                    <div class="col-md-12">
                                                        @Html.TextBoxFor(model => model.chucvu.Tenchucvu, "", new { @class = "form-control", @type = "text", @placeholder = "Tên chức vụ", required = "required" })

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-12">Flag</label>
                                                    <div class="col-sm-12">
                                                        @Html.DropDownListFor(Model => Model.chucvu.Flag, new SelectList(ViewBag.Itrangthai, "id", "flag"), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="white-box m-b-0 p-t-0 p-b-0">
                                                <h3 class="box-title m-b-50">Phân quyền</h3>
                                                @foreach (var item in Model.listquyen)
                                                {
                                                    <span class="m-b-30 col-lg-6">
                                                        <input type="checkbox" checked="" class="js-switch" data-color="#f96262" data-size="small" style="display: none;" data-switchery="true">
                                                        <span> @item.Tenquyen </span>
                                                    </span>
                                                }
                                                <span class="text-info" style="font-size:12px"> chọn các quyền cho chức vụ</span>
                                            </div>

                                        </div>


                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>

                                        </div>
                                    }


                                </div>

                            </div>
                        </div>


                        <!-- end Modal -->

                        <div class="table-responsive">
                            <table id="chucvuTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Mã chức vụ</th>
                                        <th>Tên chức vụ</th>
                                        <th>Flag</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listchucvu)
                                    {
                                        <tr>
                                            <td>@item.Machucvu</td>
                                            <td>@item.Tenchucvu</td>
                                            <td>@item.Flag</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="messages1">
                            <p class="text-muted m-b-30">Phân quyền</p>
                            <div class="table-responsive">
                                <table id="example23" class="display nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td>San Francisco</td>
                                            <td>66</td>
                                            <td>2009/01/12</td>
                                            <td>$86,000</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2012/03/29</td>
                                            <td>$433,060</td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>33</td>
                                            <td>2008/11/28</td>
                                            <td>$162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Brielle Williamson</td>
                                            <td>Integration Specialist</td>
                                            <td>New York</td>
                                            <td>61</td>
                                            <td>2012/12/02</td>
                                            <td>$372,000</td>
                                        </tr>
                                        <tr>
                                            <td>Herrod Chandler</td>
                                            <td>Sales Assistant</td>
                                            <td>San Francisco</td>
                                            <td>59</td>
                                            <td>2012/08/06</td>
                                            <td>$137,500</td>
                                        </tr>
                                        <tr>
                                            <td>Rhona Davidson</td>
                                            <td>Integration Specialist</td>
                                            <td>Tokyo</td>
                                            <td>55</td>
                                            <td>2010/10/14</td>
                                            <td>$327,900</td>
                                        </tr>
                                        <tr>
                                            <td>Colleen Hurst</td>
                                            <td>Javascript Developer</td>
                                            <td>San Francisco</td>
                                            <td>39</td>
                                            <td>2009/09/15</td>
                                            <td>$205,500</td>
                                        </tr>
                                        <tr>
                                            <td>Sonya Frost</td>
                                            <td>Software Engineer</td>
                                            <td>Edinburgh</td>
                                            <td>23</td>
                                            <td>2008/12/13</td>
                                            <td>$103,600</td>
                                        </tr>
                                        <tr>
                                            <td>Jena Gaines</td>
                                            <td>Office Manager</td>
                                            <td>London</td>
                                            <td>30</td>
                                            <td>2008/12/19</td>
                                            <td>$90,560</td>
                                        </tr>
                                        <tr>
                                            <td>Quinn Flynn</td>
                                            <td>Support Lead</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2013/03/03</td>
                                            <td>$342,000</td>
                                        </tr>
                                        <tr>
                                            <td>Charde Marshall</td>
                                            <td>Regional Director</td>
                                            <td>San Francisco</td>
                                            <td>36</td>
                                            <td>2008/10/16</td>
                                            <td>$470,600</td>
                                        </tr>
                                        <tr>
                                            <td>Haley Kennedy</td>
                                            <td>Senior Marketing Designer</td>
                                            <td>London</td>
                                            <td>43</td>
                                            <td>2012/12/18</td>
                                            <td>$313,500</td>
                                        </tr>
                                        <tr>
                                            <td>Tatyana Fitzpatrick</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>19</td>
                                            <td>2010/03/17</td>
                                            <td>$385,750</td>
                                        </tr>
                                        <tr>
                                            <td>Michael Silva</td>
                                            <td>Marketing Designer</td>
                                            <td>London</td>
                                            <td>66</td>
                                            <td>2012/11/27</td>
                                            <td>$198,500</td>
                                        </tr>
                                        <tr>
                                            <td>Paul Byrd</td>
                                            <td>Chief Financial Officer (CFO)</td>
                                            <td>New York</td>
                                            <td>64</td>
                                            <td>2010/06/09</td>
                                            <td>$725,000</td>
                                        </tr>
                                        <tr>
                                            <td>Gloria Little</td>
                                            <td>Systems Administrator</td>
                                            <td>New York</td>
                                            <td>59</td>
                                            <td>2009/04/10</td>
                                            <td>$237,500</td>
                                        </tr>
                                        <tr>
                                            <td>Bradley Greer</td>
                                            <td>Software Engineer</td>
                                            <td>London</td>
                                            <td>41</td>
                                            <td>2012/10/13</td>
                                            <td>$132,000</td>
                                        </tr>
                                        <tr>
                                            <td>Dai Rios</td>
                                            <td>Personnel Lead</td>
                                            <td>Edinburgh</td>
                                            <td>35</td>
                                            <td>2012/09/26</td>
                                            <td>$217,500</td>
                                        </tr>
                                        <tr>
                                            <td>Jenette Caldwell</td>
                                            <td>Development Lead</td>
                                            <td>New York</td>
                                            <td>30</td>
                                            <td>2011/09/03</td>
                                            <td>$345,000</td>
                                        </tr>
                                        <tr>
                                            <td>Yuri Berry</td>
                                            <td>Chief Marketing Officer (CMO)</td>
                                            <td>New York</td>
                                            <td>40</td>
                                            <td>2009/06/25</td>
                                            <td>$675,000</td>
                                        </tr>
                                        <tr>
                                            <td>Caesar Vance</td>
                                            <td>Pre-Sales Support</td>
                                            <td>New York</td>
                                            <td>21</td>
                                            <td>2011/12/12</td>
                                            <td>$106,450</td>
                                        </tr>
                                        <tr>
                                            <td>Doris Wilder</td>
                                            <td>Sales Assistant</td>
                                            <td>Sidney</td>
                                            <td>23</td>
                                            <td>2010/09/20</td>
                                            <td>$85,600</td>
                                        </tr>
                                        <tr>
                                            <td>Angelica Ramos</td>
                                            <td>Chief Executive Officer (CEO)</td>
                                            <td>London</td>
                                            <td>47</td>
                                            <td>2009/10/09</td>
                                            <td>$1,200,000</td>
                                        </tr>
                                        <tr>
                                            <td>Gavin Joyce</td>
                                            <td>Developer</td>
                                            <td>Edinburgh</td>
                                            <td>42</td>
                                            <td>2010/12/22</td>
                                            <td>$92,575</td>
                                        </tr>
                                        <tr>
                                            <td>Jennifer Chang</td>
                                            <td>Regional Director</td>
                                            <td>Singapore</td>
                                            <td>28</td>
                                            <td>2010/11/14</td>
                                            <td>$357,650</td>
                                        </tr>
                                        <tr>
                                            <td>Brenden Wagner</td>
                                            <td>Software Engineer</td>
                                            <td>San Francisco</td>
                                            <td>28</td>
                                            <td>2011/06/07</td>
                                            <td>$206,850</td>
                                        </tr>
                                        <tr>
                                            <td>Fiona Green</td>
                                            <td>Chief Operating Officer (COO)</td>
                                            <td>San Francisco</td>
                                            <td>48</td>
                                            <td>2010/03/11</td>
                                            <td>$850,000</td>
                                        </tr>
                                        <tr>
                                            <td>Shou Itou</td>
                                            <td>Regional Marketing</td>
                                            <td>Tokyo</td>
                                            <td>20</td>
                                            <td>2011/08/14</td>
                                            <td>$163,000</td>
                                        </tr>
                                        <tr>
                                            <td>Michelle House</td>
                                            <td>Integration Specialist</td>
                                            <td>Sidney</td>
                                            <td>37</td>
                                            <td>2011/06/02</td>
                                            <td>$95,400</td>
                                        </tr>
                                        <tr>
                                            <td>Suki Burks</td>
                                            <td>Developer</td>
                                            <td>London</td>
                                            <td>53</td>
                                            <td>2009/10/22</td>
                                            <td>$114,500</td>
                                        </tr>
                                        <tr>
                                            <td>Prescott Bartlett</td>
                                            <td>Technical Author</td>
                                            <td>London</td>
                                            <td>27</td>
                                            <td>2011/05/07</td>
                                            <td>$145,000</td>
                                        </tr>
                                        <tr>
                                            <td>Gavin Cortez</td>
                                            <td>Team Leader</td>
                                            <td>San Francisco</td>
                                            <td>22</td>
                                            <td>2008/10/26</td>
                                            <td>$235,500</td>
                                        </tr>
                                        <tr>
                                            <td>Martena Mccray</td>
                                            <td>Post-Sales support</td>
                                            <td>Edinburgh</td>
                                            <td>46</td>
                                            <td>2011/03/09</td>
                                            <td>$324,050</td>
                                        </tr>
                                        <tr>
                                            <td>Unity Butler</td>
                                            <td>Marketing Designer</td>
                                            <td>San Francisco</td>
                                            <td>47</td>
                                            <td>2009/12/09</td>
                                            <td>$85,675</td>
                                        </tr>
                                        <tr>
                                            <td>Howard Hatfield</td>
                                            <td>Office Manager</td>
                                            <td>San Francisco</td>
                                            <td>51</td>
                                            <td>2008/12/16</td>
                                            <td>$164,500</td>
                                        </tr>
                                        <tr>
                                            <td>Hope Fuentes</td>
                                            <td>Secretary</td>
                                            <td>San Francisco</td>
                                            <td>41</td>
                                            <td>2010/02/12</td>
                                            <td>$109,850</td>
                                        </tr>
                                        <tr>
                                            <td>Vivian Harrell</td>
                                            <td>Financial Controller</td>
                                            <td>San Francisco</td>
                                            <td>62</td>
                                            <td>2009/02/14</td>
                                            <td>$452,500</td>
                                        </tr>
                                        <tr>
                                            <td>Timothy Mooney</td>
                                            <td>Office Manager</td>
                                            <td>London</td>
                                            <td>37</td>
                                            <td>2008/12/11</td>
                                            <td>$136,200</td>
                                        </tr>
                                        <tr>
                                            <td>Jackson Bradshaw</td>
                                            <td>Director</td>
                                            <td>New York</td>
                                            <td>65</td>
                                            <td>2008/09/26</td>
                                            <td>$645,750</td>
                                        </tr>
                                        <tr>
                                            <td>Olivia Liang</td>
                                            <td>Support Engineer</td>
                                            <td>Singapore</td>
                                            <td>64</td>
                                            <td>2011/02/03</td>
                                            <td>$234,500</td>
                                        </tr>
                                        <tr>
                                            <td>Bruno Nash</td>
                                            <td>Software Engineer</td>
                                            <td>London</td>
                                            <td>38</td>
                                            <td>2011/05/03</td>
                                            <td>$163,500</td>
                                        </tr>
                                        <tr>
                                            <td>Sakura Yamamoto</td>
                                            <td>Support Engineer</td>
                                            <td>Tokyo</td>
                                            <td>37</td>
                                            <td>2009/08/19</td>
                                            <td>$139,575</td>
                                        </tr>
                                        <tr>
                                            <td>Thor Walton</td>
                                            <td>Developer</td>
                                            <td>New York</td>
                                            <td>61</td>
                                            <td>2013/08/11</td>
                                            <td>$98,540</td>
                                        </tr>
                                        <tr>
                                            <td>Finn Camacho</td>
                                            <td>Support Engineer</td>
                                            <td>San Francisco</td>
                                            <td>47</td>
                                            <td>2009/07/07</td>
                                            <td>$87,500</td>
                                        </tr>
                                        <tr>
                                            <td>Serge Baldwin</td>
                                            <td>Data Coordinator</td>
                                            <td>Singapore</td>
                                            <td>64</td>
                                            <td>2012/04/09</td>
                                            <td>$138,575</td>
                                        </tr>
                                        <tr>
                                            <td>Zenaida Frank</td>
                                            <td>Software Engineer</td>
                                            <td>New York</td>
                                            <td>63</td>
                                            <td>2010/01/04</td>
                                            <td>$125,250</td>
                                        </tr>
                                        <tr>
                                            <td>Zorita Serrano</td>
                                            <td>Software Engineer</td>
                                            <td>San Francisco</td>
                                            <td>56</td>
                                            <td>2012/06/01</td>
                                            <td>$115,000</td>
                                        </tr>
                                        <tr>
                                            <td>Jennifer Acosta</td>
                                            <td>Junior Javascript Developer</td>
                                            <td>Edinburgh</td>
                                            <td>43</td>
                                            <td>2013/02/01</td>
                                            <td>$75,650</td>
                                        </tr>
                                        <tr>
                                            <td>Cara Stevens</td>
                                            <td>Sales Assistant</td>
                                            <td>New York</td>
                                            <td>46</td>
                                            <td>2011/12/06</td>
                                            <td>$145,600</td>
                                        </tr>
                                        <tr>
                                            <td>Hermione Butler</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>47</td>
                                            <td>2011/03/21</td>
                                            <td>$356,250</td>
                                        </tr>
                                        <tr>
                                            <td>Lael Greer</td>
                                            <td>Systems Administrator</td>
                                            <td>London</td>
                                            <td>21</td>
                                            <td>2009/02/27</td>
                                            <td>$103,500</td>
                                        </tr>
                                        <tr>
                                            <td>Jonas Alexander</td>
                                            <td>Developer</td>
                                            <td>San Francisco</td>
                                            <td>30</td>
                                            <td>2010/07/14</td>
                                            <td>$86,500</td>
                                        </tr>
                                        <tr>
                                            <td>Shad Decker</td>
                                            <td>Regional Director</td>
                                            <td>Edinburgh</td>
                                            <td>51</td>
                                            <td>2008/11/13</td>
                                            <td>$183,000</td>
                                        </tr>
                                        <tr>
                                            <td>Michael Bruce</td>
                                            <td>Javascript Developer</td>
                                            <td>Singapore</td>
                                            <td>29</td>
                                            <td>2011/06/27</td>
                                            <td>$183,000</td>
                                        </tr>
                                        <tr>
                                            <td>Donna Snider</td>
                                            <td>Customer Support</td>
                                            <td>New York</td>
                                            <td>27</td>
                                            <td>2011/01/25</td>
                                            <td>$112,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <div class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>With Light sidebar</b></li>
                        <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                        <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                        <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                        <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                        <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                        <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                        <li><b>With Dark sidebar</b></li>
                        <br />
                        <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                        <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                        <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                        <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                        <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                        <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                    </ul>
                    <ul class="m-t-20 all-demos">
                        <li><b>Choose other demos</b></li>
                    </ul>
                    <ul class="m-t-20 chatonline">
                        <li><b>Chat option</b></li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
</div>