@model Models.ViewModel.Baidang_ThongTinNguoiDung
@{
    ViewBag.Title = "ThucTap1";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/Templates/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="content">

        <div class="container">

            <div class="col-sm-12">
                <ul class="breadcrumb">

                    <li>
                        <a @Html.ActionLink("Trang chủ", "Index", "Home")</a>
                    </li>
                    <li>@Html.ActionLink("Thực tập - Tuyển dụng", "TT_TD", "ThucTap_TuyenDung",new { maloai="TD"},null)</li>
                    <li>Thực tập </li>
                </ul>
            </div>
            <div class="col-md-9" style="margin-right:400px ; margin-left: 0px">
                <div id="text-page" class="box" style="margin-right:-200px">
                    <h1 style="font-size:22px">@Model.Tentieude</h1>
                    <p>@Model.Noidung</p>
                    <hr />
                    <p>Đăng bởi: @Model.HoTen, Ngày: @Model.Ngaydang</p>
                    <p>Đính kèm:</p>
                    @foreach (var item in ViewBag.List)
                    {
                        <li>@Html.ActionLink((string)item.TenFile, "Dowload", "ThucTap_TuyenDung", new { filepath = item.FilePath }, null)</li>
                    }

                </div>
            </div>

        </div>  @*#content*@



