@model Models.ViewModel.Baidang_ThongTinNguoiDung
@{
    ViewBag.Title = "Thongtintrinhdo";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/Templates/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="content">

        <div class="container">

            <div class="col-sm-12">
                <ul class="breadcrumb">

                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>@Html.ActionLink((string)ViewBag.TenDT, "TrinhDo", "DaoTao",new {maloaidt=ViewBag.MaDT},null)</li>
                    <li>Thông tin đào tạo</li>
                </ul>
            </div>
            <div class="col-md-9" style="margin-right:400px ; margin-left: 0px">
                <div id="text-page" class="box" style="margin-right:-200px">
                    <h1 style="font-size:22px">@Model.Tentieude</h1>
                    <p>@Model.Noidung</p>
                    <hr />
                    <p>Post by: @Model.HoTen, Ngày: @Model.Ngaydang</p>
                    
                </div>
            </div>

        </div>  @*#content*@
    </div>
</body>
