<!DOCTYPE html>
<html>

<!-- Mirrored from faa.iuh.edu.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Sep 2018 09:57:58 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <link href="/Templates/images/iconsgu.png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="faa.iuh.edu.vn, Khoa Công Nghệ Thông Tin - Trường Đại học Sài Gòn">
    <title>Khoa Công Nghệ Thông Tin - Trường Đại học Sài Gòn</title>

    <!--    import jquery           -->
    <script type="text/javascript" src="/Templates/js/jquery-1.11.3.min.js"></script>
    <!--    import bootstrap        -->
    <link href="/Templates/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/Templates/bootstrap/js/bootstrap.min.js"></script>
    <!-- Include Owl carousel -->
    <link href="/Templates/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/Templates/css/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <link href="/Templates/css/animate.html" rel="stylesheet" type="text/css" />
    <script src="/Templates/js/owl.carousel.js" type="text/javascript"></script>
    <!--    import awesomefont      -->
    <link href="/Templates/awesomefont/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!--    import tab accordion    -->
    <script src="/Templates/js/responsive-tabs.js" type="text/javascript"></script>
    <!--    import jquery sticky    -->
    <script src="/Templates/js/jquery.sticky.js" type="text/javascript"></script>
    <!---   import custom scroll    -->
    <link href="/Templates/css/jquery.scrollbar.css" type="text/css" rel="stylesheet">
    <script src="/Templates/js/jquery.scrollbar.js" type="text/javascript"></script>
    <!--    import layout style     -->
    <link href="/Templates/css/layout.cssver1.0.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/Templates/js/javascript.js"></script>
    <script type="text/javascript" src="/Templates/js/script.js"></script>
    <!--    import responsive style -->
    <link href="/Templates/css/style-responsive.cssver1.0.css" rel="stylesheet" type="text/css" />
    <link href="/Templates/css/app3s-custom.cssver1.0.html" rel="stylesheet" type="text/css" />
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <script>
        $(function () {
            $("ul.dropdown-menu li.menu-item-has-children > a").append('<i class="fa fa-caret-right"></i>');

        });
    </script>
</head>
<body>
    <div class="header-top">
        <div class="container">
            <div class="row header-link">
                <ul>
                    <li><a target="_blank" href="http://iuh.edu.vn/">Website SGU</a></li>
                    <li><a target="_blank" href="http://lib.iuh.edu.vn/">Liên hệ</a></li>
                    <li><a target="_blank" href=@Url.Action("Index","Dangnhap",new { Area = "" })>Đăng nhập</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <header class="header">
        <div class="container">
            <div class="col-md-3 header-left"> <a href="index.html" class="logo"> <img alt="SGU" title="IUH" src="/Templates/images/sgulogo.png"> </a> </div>
            <div class="col-md-9 header-right">
                <div class="right-up-title">Trường Đại học Sài Gòn</div>
                <div class="right-title">Khoa Công Nghệ Thông Tin</div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </header>
    @*<header class="header-mobile">
            <div class="container">
                <a href="index.html">
                    <div class="textwidget"><img class="banner-small" alt="iuh" title="iuh" style="width: 100%;" src="/Templates/images/banner_mobile_small_vi.png"></div>
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </header>*@
    <div class="header-menu">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default main-menu">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle navbar-menu collapsed" data-toggle="collapse" data-target="#iuh-sdh-menu" aria-expanded="false"> <span class="icon-bar" style="margin: 0;"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <i class="fa fa-times"></i> MENU </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="iuh-sdh-menu">
                        <ul class="nav navbar-nav">
                            <div class="">
                                <ul id="menu-vn-main-menu" class="nav navbar-nav">
                                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                                    <li id="menu-item-145" class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">
                                            Giới thiệu
                                            <span class="caret"></span>
                                        </a>
                                        <ul role="menu" class="dropdown-menu">
                                            @{Html.RenderAction("GioiThieu_1", "Layout");}
                                            <li id="menu-item-213" class="dropdown">
                                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">
                                                    Cơ cấu tổ chức
                                                    <span class="caret"></span>
                                                </a><ul role="menu" class="dropdown-menu">
                                                    @{Html.RenderAction("GioiThieu_2", "Layout");}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-164" class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">
                                            Đào tạo
                                            <span class="caret"></span>
                                        </a><ul role="menu" class="dropdown-menu">
                                            @{Html.RenderAction("DaoTao", "Layout");}
                                        </ul>
                                    </li>
                                    <li id="menu-item-198" class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">
                                            Bộ môn<span class="caret"></span>
                                        </a><ul role="menu" class="dropdown-menu">
                                            @{Html.RenderAction("BoMon", "Layout");}
                                        </ul>
                                    </li>
                                    <li id="menu-item-161" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Thông báo - Tin tức<span class="caret"></span></a><ul role="menu" class="dropdown-menu"><li>@Html.ActionLink("Học bổng", "TBTT_HocBong", "MenuTB_TT")</li><li> @Html.ActionLink("Thực tập - Tuyển dụng", "TT_TD", "ThucTap_TuyenDung", new { maloai = "SK" }, null)</li><li>@Html.ActionLink("Đoàn hội", "TBTT_DoanHoi", "MenuTB_TT")</li><li>@Html.ActionLink("Olympic sinh viên", "TBTT_Olympic", "MenuTB_TT")</li> </ul></li>
                                    <li id="menu-item-198" class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">
                                            Sinh viên
                                            <span class="caret"></span>
                                        </a>
                                        <ul role="menu" class="dropdown-menu">
                                            @{Html.RenderAction("CongTacSV", "Layout");}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </ul><link rel="stylesheet" href="modules/mod_search/css/jquery-ui.min.css" type="text/css" />
                        @using (Html.BeginForm("TB", "ThongBao", FormMethod.Get))
                        {

                            <div class="form-search input-group group-search" style="width:270px">
                                <input id="txtsearch" name="txtSearch" value="" type="text" class="form-control txt-search" placeholder="Tìm kiếm ...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" data-toggle="tooltip" title="Cơ bản"><i class="glyphicon glyphicon-search"></i>  </button>
                                    <span data-toggle="collapse" data-target="#demo"> <button type="button" class="btn btn-default" data-toggle="tooltip" title="Nâng cao" style="margin-left: -3px"><i class="glyphicon glyphicon-zoom-in"></i></button> </span>
                                </span>
                            </div>
                            <div class="clearfix"></div>

                        }


                </nav>

            </div>
            <!-- /.navbar-collapse -->

        </div>
    </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div id="demo" class="collapse content-slide " style="padding: 10px;border-bottom:solid #3B5998 1px">
                @*<form>
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12"> <label> Ngày đăng </label> </div>
                            <div class="col-lg-6">
                                <input type="date" class="form-control" value=myFunction() />
                            </div>
                            <div class="col-lg-6">
                                <input type="date" class="form-control" value=myFunction() />
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label> Tên bài viết </label>
                            <input class="form-control" placeholder="nội dung" />
                        </div>

                        <div class="form-group col-lg-6">
                            <label> Ngày đăng </label>
                            <input type="text" class="form-control" value=myFunction() />
                        </div>
                        <div class="form-group col-lg-6">
                            <label> Ngày đăng </label>
                            <input type="text" class="form-control" value=myFunction() />
                        </div>

                        <button class="btn btn-success" style="float:right;margin-right:15px" type="button"> Tìm </button>
                        <button class="btn btn-default" style="float:right;margin-right:15px" type="button" data-toggle="collapse" data-target="#demo"> Hủy </button>

                    </form>*@

                <form>
                    <div class="form-group col-lg-6">
                        <label> Từ ngày </label>
                        <input type="date" class="form-control" style="width: 300px" value=myFunction() />
                    </div>
                    <div class="form-group col-lg-6">
                        <label> Đến ngày </label>
                        <input type="date" class="form-control" style="width: 300px" value=myFunction() />
                    </div>
                    <div class="form-group col-lg-6">
                        <label> Tên bài viết </label>
                        <input class="form-control" style="width: 300px" placeholder="nhập vào tên bài viết" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label> Nội dung </label>
                        <input class="form-control" style="width: 300px" placeholder="nhập vào nội dung" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Loại bài đăng</label>
                        <select class="form-control" style="width: 300px">
                            <option value="saab">Tất cả</option>
                            <option value="saab">Thông báo</option>
                            <option value="volvo">Tin tức sự kiện</option>
                            <option value="saab">Thực tập tuyển dụng</option>
                            <option value="mercedes">Tuyển sinh</option>
                            <option value="audi">Khác</option>
                        </select>
                    </div>

                    <div class="col-lg-6" style="width: 300px; padding-top: 25px;margin-left: 3%;">

                        <button class="btn btn-success" style="float:right;margin-right:15px" type="button"> Tìm </button>
                        <button class="btn btn-default" style="float:right;margin-right:15px" type="button" data-toggle="collapse" data-target="#demo"> Hủy </button>

                    </div>

                </form>
            </div>



            @RenderBody()
            <!-- Cooperate List -->
            <div class="cooperate-list">
                <div class="cooperate-title">Bộ môn - Chuyên ngành</div>
                <div class="cooperate-content">
                    <div class="cooperate-slide">
                        <div id="owl-iuh" class="owl-carousel">
                            <div class="item"><a href="https://www.roedl.com/" target="_blank"><img src="~/Templates/images/hethongthongtin.png" alt="Roedl" width="290" /></a></div><div class="item"><a href="@Url.Action("KTPM","BoMon")"><img src="~/Templates/images/kythuatphanmem.png" alt="ACCA" width="290" /></a></div><div class="item"><a href="http://www.misa.com.vn/" target="_blank"><img src="~/Templates/images/mangmaytinh.png" alt="Phần mềm kế toán Misa" width="290" /></a></div><div class="item"><a href="news-4.html" target="_blank"><img src="~/Templates/images/khoahocmaytinh.png" alt="Đào tạo ngắn hạn" width="290" /></a></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="cooperate-button"><span class="fa fa-angle-left cooperate-nav cooperate-prev"></span><span class="fa fa-angle-right cooperate-nav cooperate-next"></span></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- End Cooperate List -->
            <div class="footer">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="textwidget">
                                <div class="footer-top-element">
                                    <div class="title">Liên hệ - Phản hồi</div>
                                    <div class="element-detail element-contact">
                                        <ul>
                                            <li>
                                                <i class="fa fa-map-marker"></i> 273 An Dương Vương, P3, Q5, TP. Hồ Chí Minh<br />
                                                Văn Phòng Khoa : Khu A - Lầu 1
                                            </li>
                                            <li>
                                                <i class="fa fa-phone"></i> Điện thoại: 028. 389.40390 - 851,582,234 <br />
                                                Email: itsgu@gmail.com<br />
                                                <a href="contact.html" style="color:#3a8324">Liên hệ - Phản hồi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 footer-top-element">
                                    <div class="title"> Mạng xã hội </div>
                                    <div class="element-detail">
                                        <div id="fb-root"></div>
                                        <script>
                                            (function (d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id)) return;
                                                js = d.createElement(s); js.id = id;
                                                js.src = "../connect.facebook.net/en_US/all.js#xfbml=1";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));</script>
                                        <div class="fb-like-box" data-href="https://www.facebook.com/fit.sgu.edu.vn/" data-width="350" data-height="350" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="false" data-show-border="false"></div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>


                        <div class="col-md-5">
                            <div style="padding-top:10%">
                                <a href="https://www.facebook.com/fit.sgu.edu.vn/"><i class="fa fa-facebook-square fa-3x" style="color:blue"> </i></a>
                                <a href="https://www.instagram.com/"><i class="fa fa-instagram fa-3x" style="color:burlywood"> </i></a>
                                <a href="http://twowheelcool.com/twitter.com/logine034.html?lang=vi"><i class="fa fa-twitter-square fa-3x" style="color:aquamarine"> </i></a>
                                <a href="https://www.youtube.com/"><i class="fa fa-youtube-square fa-3x" style="color:red"> </i></a>
                            </div>


                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="copyright"> <a href="admins/index.html" style="color:#fff" target="_blank">2018</a> Khoa Công nghệ thông tin - Trường Đại học sài gòn </div>
                        </div>
                        <div class="col-md-4">
                            <div class="social-media">
                                <i class="fa fa-users"></i> Số lượt  truy cập : 5,672,443<br />
                                <i class="fa fa-user"></i> Đang online  : <b>44</b>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- end footer-->
    <div class="clearfix"></div>

    <script type='text/javascript' src='/Templates/js/wp-embed.min.js'></script>
    <div class="scroll-top"> <i class="fa fa-angle-up" title="Lên đầu trang"></i> </div>
</body>

</html>

<script>
    $(document).ready(function () {
        $("#txtsearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#blog-listing div").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>