@model PagedList.IPagedList<Models.EF.Baidang>
@using PagedList.Mvc
@{
    ViewBag.Title = "TB";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/Templates/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="content">

        <div class="container">

            <div class="col-sm-12">
                <ul class="breadcrumb">

                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Thông báo", "TB", "ThongBao")
                    </li>


                </ul>
            </div>
            
            <div class="col-sm-12" id="blog-listing">
                @foreach (var item in Model)
                {
                    <div class="post">
                        <h4>@Html.ActionLink(item.Tieude, "ThongBao1", "ThongBao")</h4>
                        <p>
                            @item.Noidung
                        </p>
                        <p class="read-more btn btn-primary"> @Html.ActionLink("Xem thêm", "ThongBao1", "ThongBao", new { mabaidang = item.Mabaidang }, null) </p>
                    </div>

                }
            </div>
            </div>

            @*<p class="read-more"> <a href="" class="btn btn-primary"> Xem thêm</a> </p>*@

        <div class="col-lg-12">
            @Html.PagedListPager(Model, page => Url.Action("TB", new { page}))
        </div>


        </div>

      @*#content*@





        @*<div class="col-sm-9" id="blog-listing">
                <div class="post">
                    <h4>

                    </h4>
                    <p>

                    </p>
                    <p class="read-more">
                        <a></a>
                    </p>
                </div>

                <div class="post">

                </div>

                <div class="post">

                </div>
            </div>*@
</body>


