@model Models.ViewModel.Baidang_ThongTinNguoiDung
@{
    ViewBag.Title = "GTChung";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/Templates/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="content">

        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>Giới thiệu</li>
                    <li>@ViewBag.TenGT</li>
                </ul>
            </div>

            <div class="col-md-3">
                <!-- *** PAGES MENU ***
                _________________________________________________________ -->
                <!-- *** PAGES MENU END *** -->

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-size:18px">Giới thiệu</h3>
                    </div>

                    <div class="panel-body">
                        <p> @Html.ActionLink("Giới thiệu chung", "Gioithieu", "GioiThieuCSVC", new { magt = "GT1" }, null)</p>
                        <p> @Html.ActionLink("Cơ sở vật chất", "Gioithieu", "GioiThieuCSVC", new { magt = "GT2" }, null)</p>
                        <p> @Html.ActionLink("Chi bộ", "Gioithieu", "GioiThieuCSVC", new { magt = "GT3" }, null)</p>
                        <p> @Html.ActionLink("Ban chủ nhiệm khoa", "Gioithieu", "GioiThieuCSVC", new { magt = "GT4" }, null)</p>
                        <p> @Html.ActionLink("Hội đồng khoa học", "Gioithieu", "GioiThieuCSVC", new { magt = "GT5" }, null)</p>
                        <p>@Html.ActionLink("Công đoàn", "Gioithieu", "GioiThieuCSVC", new { magt = "GT6" }, null)</p>
                        <p> @Html.ActionLink("Văn phòng khoa", "Gioithieu", "GioiThieuCSVC", new { magt = "GT7" }, null)</p>
                        <p>@Html.ActionLink("Công viên chức khoa", "Gioithieu", "GioiThieuCSVC", new { magt = "GT8" }, null)</p>

                    </div>
                </div>

                <!-- *** PAGES MENU END *** -->
                @*<div class="banner">
                        <a href="#">
                            <img src="../../../cntt_media/khoa-cntt.jpg" alt="Khoa CNTT" class="img-responsive">
                        </a>
                    </div>*@
            </div>

            <div class="col-md-9">

                <div class="box" id="text-page">
                    <h1 style="font-size:22px">@Model.Tentieude</h1>
                    <p>@Model.Noidung</p>
                    <hr>
                    <p>Đăng bởi: @Model.HoTen, Ngày: @Model.Ngaydang</p>
                </div>


            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
        <!-- /#content -->
</body>

