@model Models.EF.Bomon
@{
    ViewBag.Title = "HTTT";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/Templates/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="content">

        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>Bộ môn</li>
                    <li>@ViewBag.TenBM</li>
                </ul>
            </div>

            <div class="col-md-3">
                <!-- *** PAGES MENU ***
                _________________________________________________________ -->
                <!-- *** PAGES MENU END *** -->

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-size:18px">@Model.TenBM</h3>
                    </div>

                    <div class="panel-body">
                        <p>@Html.ActionLink("Hệ thống thông tin", "BoMon", "BoMon", new { mabm = "BM1" }, null)</p>
                        <p> @Html.ActionLink("Kỹ thuật phần mềm", "BoMon", "BoMon", new { mabm = "BM2" }, null)</p>
                        <p> @Html.ActionLink("Khoa học máy tính", "BoMon", "BoMon", new { mabm = "BM3" }, null)</p>
                        <p> @Html.ActionLink("Mạng máy tính", "BoMon", "BoMon", new { mabm = "BM4" }, null)</p>
                    </div>
                </div>

                <!-- *** PAGES MENU END *** -->
                @*<div class="banner">
                        <a href="#">
                            <img src="../../../cntt_media/khoa-cntt.jpg" alt="Khoa CNTT" class="img-responsive">
                        </a>
                    </div>*@
            </div>

            <div class="col-md-9">

                <div class="box" id="text-page">
                    <h1 style="font-size:22px">Bộ môn Hệ thống thông tin</h1>
                    <p>@Model.Noidung</p>
                    <p>Đội ngũ cán bộ của bộ môn bao gồm:</p>

                    <p>• Tiến sĩ: 01</p>

                    <p>• Thạc sĩ, NCS: 03 <!--------------------------></p>
                </div>
                <div class="panel-body" id="text-page">
                    <div class="col-md-12" data-animate="fadeInUp">
                        <div class="row">

                            @foreach (var item in ViewBag.GV)
                            {
                                <div class="col-md-4">
                                    <div class="post" style="background-color:#FFF">
                                        <a href="#"><img alt="" class="hieuunganh_image" src="../../../images/cntt_media/male.png" style="border-radius:20%" width="100" /> </a>



                                        <div>
                                            <p style="text-align:center">
                                                @item.TenCV<br />
                                                @item.TenGV<br />
                                                Email: @item.Gmail
                                            </p>
                                        </div>
                                        <div class="hieuunganh_box" style="text-align:center">
                                            <div><a class="btn btn-success" href="#" type="button">Xem thêm</a></div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <!----->

                    </div>
                    <!----->
                </div>

                <!-------------------------->

                <h2 style="text-align: center;">Danh sách các học phần do Bộ môn Hệ thống thông tin quản lý</h2>

                <table align="center" border="1" cellpadding="0" cellspacing="0" style="width:504px;" width="504">
                    <tbody>
                        <tr>
                            @*<td style="width:64px;height:20px;">
                                    <p style="text-align: center;"><strong>STT</strong></p>
                                </td>*@
                            <td nowrap="nowrap" style="width:64px;height:20px;">
                                <p style="text-align: center;"><strong>MÃ HP</strong></p>
                            </td>
                            <td nowrap="nowrap" style="width:378px;height:20px;">
                                <p style="text-align: center;"><strong>TÊN MÔN HỌC</strong></p>
                            </td>
                        </tr>
                        @foreach (var item in ViewBag.MH)
                        {
                            <tr>
                                @*<td style="width:64px;height:20px;">
                                        <p style="text-align: center;">1</p>
                                    </td>*@
                                <td nowrap="nowrap" style="width:64px;height:20px;">
                                    <p style="text-align: center;">@item.MaMH</p>
                                </td>
                                <td nowrap="nowrap" style="width:378px;height:20px;">
                                    <p style="text-align: center;">@item.TenMH</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <hr>
                <p>Đăng bởi: Khoa CNTT, Ngày: 2017-08-03 14:03:09</p>
                <p>Đính kèm: </p>


            </div>


        </div>
        <!-- /.col-md-9 -->
    </div>
</body>

